<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
      {{ if .Site.Menus.main }}
        {{ range sort .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name | upper }}</a></li>
        {{ end }}
      {{ end }}
      {{ if .IsTranslated }}
        <li class="nav-item"><ul class="nav navbar-nav lang-nav">
          {{ $currLang := .Language.Lang }}
          {{ range .AllTranslations }}
          <li class="nav-item">
            <a class="nav-link {{if eq .Language.Lang $currLang }}active{{ end }}" href="{{ .Permalink }}">{{ .Language.Lang }}</a>
          {{ end }}
        </ul></li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
