{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="rounded-circle" src="{{ .Sites.First.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
	{{ $site := .Site }}
	{{ $data := index .Site.Data .Site.Language.Lang }}
	{{ with $data.home }}
	{{ range .content }}
	<h3>{{ . | markdownify }}</h3>
	{{ end }}
	{{ end }}
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
