/*@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);*/

/*body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: rgb(48, 48, 48);
    border-top: 5px solid #27a822;
    border-bottom: 5px solid #27A822;
}*/

.vitae-container {
    margin-top: 50px;
}

.vitae-basic a {
    color: #6b6b6b;
}

p, address {
    margin-bottom: 0;
}

.me {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    margin-bottom: 20px;
}

header > h1, section > h1 {
    color: #27A822;
}

header > h1 {
    line-height: 100%;
    font-size: 250%;
    margin-bottom: 20px;
}

.vitae-container > header p, .vitae-container > header address {
    margin-bottom: 20px;
}

.vitae-container > header p:last-child {
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

section > h1 {
    font-size: 120%;
    line-height: 120%;
    text-transform: uppercase;
}

article {
    margin-bottom: 20px;
}

article > header > h1 {
    font-size: 112%;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 0;
    color: inherit;
}

article > header > span + span {
    margin-left: 2px;
}

article > header > span + span::before {
    content: '@';
    margin-right: 4px;
}

article > header > span {
    color: #808080;
    font-size: 100%;
}

article > header > span a {
    color: inherit;
}

article > header address {
    display: inline;
}

article > header address + time {
    margin-left: 6px;
}

article > header address + time::before {
    content: '—';
    margin-right: 6px;
}

em {
    font-style: normal;
    font-weight: bold;
    color: rgb(100, 100, 100);
    /*margin-right: 6px;*/
}

@media (min-width: 600px) {
    .twocol {
	column-count: 2;
    }
}

.hanging {
    padding-left: 2em;
    text-indent: -2em;
}

.hobby {
    font-weight: 500;
}

.lang-nav .nav-item:not(:first-child) .nav-link {
    padding-left: 5px;
    /* border-left: 1px solid #0006; */
}
.lang-nav .nav-item:not(:last-child) .nav-link {
    padding-right: 5px;
    /* border-right: 1px solid #0006; */
}

.vitae-container span.language {
    font-weight: 500;
    padding-right: 0;
}
.vitae-container span.language::after {
    content: ": "
}
.vitae-container span.certification::before {
    content: "("
}
.vitae-container span.certification::after {
    content: ")"
}

@media print {
    @page {
        margin: 15mm;
    }

    a[href].print-as-is:after {
        content: "";
    }

    body {
        font-size: 12pt;
        line-height: 16pt;
    }

    h1, h2, h3, h4, h5, h6 {
	page-break-after:avoid;
	page-break-inside:avoid;
    }

    img {
	page-break-inside:avoid;
	page-break-after:avoid;
    }

    article {
	page-break-inside: avoid;
    }

    table, pre, ul, ol, dl {
	page-break-before: avoid;
    }

    section > h1 {
	font-size: 11pt;
	font-weight: 700;
	margin-top: 0;
    }

    article > header > h1 {
	font-weight: 600;
	font-size: 14pt;
	line-height: 140%;
	margin-bottom: 0;
    }

    .vitae-container {
	margin-top: 0;
	position: absolute;
    }

    .vitae-container > header {
        font-size: 80%;
        line-height: 160%;
	float: none;
	width: 4cm;
	position: fixed;
    }

    .vitae-container > .thirteen {
	float: none;
	position: absolute;
	margin-left: 4.5cm;
    }

    article > header > span {
        font-size: 12pt;
	font-weight: 500;
        line-height: 80%;
    }

    article > p {
        font-size: 11pt;
    }

    .introduction article > p {
        font-size: 12pt;
    }

    footer {
	display: none;
    }
}
